.app {
  min-height: 100vh;
  background-color: #4B5320;
  text-align: center;
  padding-top: 100px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #263A16;
  background-color: #C3B091;
  padding: 20px 40px;
  border-radius: 12px;
  display: inline-block;
}

p {
  color: #F0E6D2;
  font-size: 22px;
}

button {
  background-color: #C3B091;
  color: #263A16;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
}